---
import Container from "./Container.astro";
import Link from "./Link.astro";
import { SELF } from "../consts";
---

<header transition:persist>
  <Container>
    <div class="flex flex-wrap justify-between gap-y-2">
      <Link href="/" underline={false}>
        {
          Astro.url.pathname !== "/" && (
            <div class="font-semibold">{SELF.name}</div>
          )
        }
      </Link>
      <nav class="flex items-center gap-1 text-sm">
        <Link href="https://as207118.net">as207118</Link>
        <Link href="/uses">uses</Link>
        <Link href="/privacy">privacy</Link>
        <Link href="/transparency">transparency</Link>
        <Link href="/ai">ai</Link>
        <Link href="https://flake.diogocastro.net">flake</Link>
      </nav>
    </div>
  </Container>
</header>
